.score {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;

  &__container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 1.5rem;
  }

  &__letters,
  &__ratio {
    line-height: 1;

    @media all and (min-width: 40rem) {
      line-height: 1.352;
    }
  }

  &__letters {
    font-style: normal;
    font-weight: bold;
    color: var(--color-foreground);
    font-size: 2.5rem;

    @media all and (min-width: 40rem) {
      font-size: 4.25rem;
    }
  }

  &__ratio {
    font-style: normal;
    font-weight: 600;
    font-size: 1.5rem;
    color: var(--color-foreground);
    margin-top: 0.75rem;

    @media all and (min-width: 40rem) {
      font-size: 2.5rem;
      margin-top: 1.375rem;
    }
  }

  &__rating {
    :global {
      .ms-RatingStar-back {
        color: var(--color-foreground);
      }
    }
  }
}
