.label {
  color: var(--color-foreground);
  gap: 0.25rem;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.container {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 3rem;
  padding: 0 1rem;
  border-radius: 0.125rem;
  gap: 1rem;

  &::before {
    content: "";
    position: absolute;
    inset: 0;
    border-radius: inherit;
    background-color: var(--color-foreground);
    opacity: 0.1;
  }

  &:focus-within,
  &:hover {
    &::before {
      opacity: 0.08;
    }
  }
}

.data {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 0.5rem;
}

.valueInput {
  :global {
    .ms-TextField-fieldGroup {
      background-color: transparent;
      border-color: transparent;

      &::after {
        border-color: transparent;
      }
    }

    input {
      color: var(--color-foreground);
      font-family: var(--font-family);
      font-size: 1.125rem;
      letter-spacing: 0.1em;
      font-feature-settings: "rclt" off;
    }
  }
}

.valueInput:hover,
.valueInput:global(.is-active) {
  :global {
    .ms-TextField-fieldGroup,
    .ms-TextField-fieldGroup::after {
      border-top-color: transparent;
      border-left-color: transparent;
      border-right-color: transparent;
      border-bottom-color: var(--color-foreground);
    }
  }
}

.preview {
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 1.5rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: var(--color-foreground);
  position: relative;
  user-select: none;

  &:focus-within,
  &:hover {
    box-shadow: 0 0 0 2px var(--color-background),
      0 0 0 4px var(--color-foreground);
  }

  &__icon {
    color: var(--color-background);
  }

  &__input {
    opacity: 0;
    position: absolute;
    inset: 0;
    cursor: pointer;
    width: 100%;
    height: 100%;
  }
}

.dropdown {
  :global {
    .ms-Dropdown {
      border-color: transparent;
    }

    .ms-Dropdown-label {
      border: 0 !important;
      clip: rect(1px, 1px, 1px, 1px) !important; /* 1 */
      -webkit-clip-path: inset(50%) !important;
      clip-path: inset(50%) !important; /* 2 */
      height: 1px !important;
      margin: -1px !important;
      overflow: hidden !important;
      padding: 0 !important;
      position: absolute !important;
      width: 1px !important;
      white-space: nowrap !important;
    }

    .ms-Dropdown-title {
      background-color: transparent;
      border-color: transparent;
    }

    .ms-Dropdown-title,
    .ms-Dropdown-caretDown {
      color: var(--color-foreground);
    }
  }
}

.dropdown:focus,
.dropdown:hover {
  &::after {
    border: 2px color var(--color-foreground);
  }

  :global(.ms-Dropdown-title),
  :global(.ms-Dropdown-caretDown) {
    color: var(--color-foreground);
    border-color: currentColor;
    outline-color: currentColor;
  }
}
