.details,
.content {
  padding: 1rem;
  gap: 1rem;
  margin: 0 auto;
  max-width: 90vw;
  background: var(--color-background);
  border-radius: 0.25rem;

  @media all and (min-width: 40rem) {
    max-width: 80vw;
  }

  @media all and (min-width: 60rem) {
    max-width: 70vw;
  }
}

.details[open] {
  margin-bottom: 2rem;
}

.summary {
  appearance: none;
  min-height: 2.75rem;
  display: grid;
  grid-template-columns: 2.5rem 1fr;
  gap: 1rem;
  color: var(--color-foreground);
  align-items: center;
  list-style: none;
  cursor: pointer;

  &__title {
    color: inherit;
  }

  &__icon {
    display: grid;
    place-items: center;
    min-width: 2.5rem;
    height: 2.5rem;
    transform: rotate(-90deg);
    transition: transform 200ms ease-out;
  }

  &[aria-expanded="true"] {
    .summary__icon {
      transform: rotate(0deg);
    }
  }
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin-top: 1rem;
}

.title,
.subtitle,
.small,
.term {
  color: var(--color-foreground);
}

.title {
  font-size: clamp(1.75rem, 3vh, 2.25rem);
  font-weight: bold;
}

.subtitle {
  font-size: clamp(1.25rem, 2vh, 2rem);
  font-weight: 600;
}

.small {
  font-size: clamp(0.875rem, 87.5%, 1rem);
}

.term {
  margin-bottom: 1rem;
}

.term dt {
  font-weight: 600;
  font-size: 1.25rem;
}
