.wrapper {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-flow: wrap;
}

.grades {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-content: flex-start;
  align-items: center;
  list-style-type: none;
  gap: 0;
  margin-block-start: 1.5rem;

  [role="listitem"] {
    min-width: 4rem;
    justify-content: flex-start;
  }

  @media all and (min-width: 20rem) {
    flex-direction: row;
    gap: 1rem;
  }

  @media all and (min-width: 35rem) {
    gap: initial;
    margin-block-start: 0;
  }

  @media all and (min-width: 40rem) {
    [role="listitem"] {
      min-width: 6rem;
      justify-content: center;
    }
  }
}
