.layout {
  &__wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    min-height: 100vh;
    flex-direction: column;
    gap: 2rem;
  }
}

main {
  flex: 1;
}

main,
form {
  width: 100%;
}
